<div class="hero-wrap hero-bread" style="background-image: url('../../../assets/contact.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9  text-center">
        <p class="breadcrumbs font-weight-bold"><span class="mr-2"><a routerLink="/">Home</a></span> <span>Contact</span></p>
        <h1 class="mb-0 mt-1 bread">Contact Us</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section contact-section bg-light">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="w-100"></div>
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4">
          <p><span>Address:</span> El Sheikh Zayed, Ismalia Third, Ismailia Governorate, Egypt</p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4">
          <p><span>Phone:</span> +02366665445</p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4">
          <p><span>Email:</span>doucan.iti40@gmail.com</p>
        </div>
      </div>
      
    </div>
    <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form class="bg-white p-5 contact-form" [formGroup]="FormData" #postForm="ngForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group">
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email"
              formControlName="email" #email />
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" placeholder="Subject" formControlName="subject"
            #subject />
          </div>
          <div class="form-group">
            <textarea cols="30" rows="7" class="form-control" placeholder="Message" formControlName="body" #body class="form-control" name="body"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5" (click)="SendData(postForm)" [disabled]="!FormData.valid">
            <!-- <button type="submit" class="btn btn-primary" (click)="SendData(postForm)" [disabled]="!FormData.valid">Submit</button> -->

          </div>
        </form>

      </div>

      <div class="col-md-6 d-flex">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3433.4941239139707!2d32.26867!3d30.620029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x437cb59c375c9652!2sITI%20Suez%20Canal%20Branch!5e0!3m2!1sen!2sus!4v1592445968147!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container mt-5">
  <div class="row">
    <div class="col ">
      <form [formGroup]="FormData" #postForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email"
            formControlName="email" #email />

          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" name="subject" placeholder="Subject" formControlName="subject"
            #subject />

        </div>
        <div class="form-group">
          <label for="body">Comment</label>
          <textarea class="form-control" formControlName="body" #body class="form-control" name="body">

            </textarea>
        </div>

        <button type="submit" class="btn btn-primary" (click)="SendData(postForm)" [disabled]="!FormData.valid">Submit</button>
        <br />
      </form>
    </div>
  </div>
</div> -->