<nav class="navbar navbar-expand-md navbar-light bg-secondary fixed-top mb-5 pb-1">
  <div class="container">

    <a class="navbar-brand text-white" routerLink="/">
      <!--<img src="../../../assets/nav.jpg" style="width: 50px; height: 50px;">--> DUKAN</a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse"
      data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link btn-secondary btn text-white" routerLink="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-secondary btn text-white" *ngIf="getToken()==='hhh'" [routerLinkActiveOptions]={exact:true} routerLinkActive='active' routerLink="/about">ABOUT
          </a>
        </li>
        <li class="nav-item">
          <!-- <button class="nav-link btn-secondary btn" (click)="openContact(contentContact)">CONTACT US </button> -->
          <a  routerLink="/contactus" *ngIf="getToken()==='hhh'" class="nav-link btn-secondary btn text-white" >CONTACT US</a>

        </li>

        <li class="nav-item">
          <a class="nav-link text-white btn-secondary btn" routerLink="/woman" *ngIf="getToken()!=='hhh'&& getType()==='user'">WOMEN</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white btn-secondary btn" [routerLinkActiveOptions]={exact:true} routerLinkActive='active' routerLink="/man"
            *ngIf="getToken()!=='hhh'&& getType()==='user'">MEN</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white btn-secondary btn" [routerLinkActiveOptions]={exact:true} routerLinkActive='active' routerLink="/cart"
            *ngIf="getToken()!=='hhh'&& getType()==='user'">CART</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white btn-secondary btn" [routerLinkActiveOptions]={exact:true} routerLinkActive='active'
            routerLink="/store/products" *ngIf="getToken()!=='hhh'&& getType()==='shop'">STORE</a>
        </li>

        <li ngbDropdown class="nav-item dropdown text-white" *ngIf="getToken()!=='hhh'&& getType()==='shop'">
          <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" [routerLinkActiveOptions]={exact:true}
            routerLinkActive='active' id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{fName}}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a ngbDropdownItem class="dropdown-item" routerLink='shop/profile'>Profile</a>
            <!-- <a ngbDropdownItem class="dropdown-item" routerLink="/profile">Profile</a> -->
            <a ngbDropdownItem class="dropdown-item" routerLink="#">Requests</a>
            <!-- <a ngbDropdownItem class="dropdown-item" >Logout</a> -->
          </div>
        </li>

        <li ngbDropdown class="nav-item dropdown text-white" *ngIf="getToken()!=='hhh'&& getType()==='user'">
          <a ngbDropdownToggle [routerLinkActiveOptions]={exact:true} routerLinkActive='active'
            class="nav-link dropdown-toggle text-white" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{fName}}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a ngbDropdownItem class="dropdown-item" routerLink="/profile">Profile</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="#">Purchases</a>
            <!-- <a ngbDropdownItem class="dropdown-item" >Logout</a> -->
          </div>
        </li>


      </ul>
      <button class="btn btn-secondary my-2 my-sm-0 mr-2" (click)="open(content)"
        *ngIf="getToken()==='hhh'" >SIGN UP</button>
      <br>
      <button class="btn btn-secondary my-2 my-sm-0 mr-2" (click)="openLogin(contentLogin)"
        *ngIf="getToken()==='hhh'">LOG IN</button>
      <br>
      <button class="btn btn-secondary my-2 my-sm-0 mr-2" (click)="logout()" *ngIf="getToken()!=='hhh'">LOG OUT</button>

      <!-- <button  class="btn btn-success my-2 my-sm-0 mr-2 rounded" >Stat Shop</button> -->
      <a  routerLink="/shop/register" class="btn btn-success my-2 my-sm-0 mr-2 rounded"  *ngIf="getToken()==='hhh'" >START SHOP</a>

      <!-- aflbfl'sf -->
    </div>
  </div>
  <!--Registaraion-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">REGISTRATION</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-register></app-register>
    </div>
  </ng-template>
  <!-- <button class="btn btn-secondary my-2 my-sm-0 mr-2" (click)="open(content)" *ngIf="getToken()==='hhh'">SignUp</button> -->
  <!--Login-->
  <ng-template #contentLogin  let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">LOG IN</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-login></app-login>
    </div>
  </ng-template>
   <!--Contact US-->
   <ng-template #contentContact let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">CONTACT US</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body " style="width: 100%;">
      <app-contact-us></app-contact-us>
    </div>
  </ng-template>
  <!-- <button  class="btn btn-secondary my-2 my-sm-0 mr-2" (click)="openLogin(contentLogin)" *ngIf="getToken()==='hhh'">LogIn</button> -->

  <hr>
  <!-- <button class="btn btn-secondary my-2 my-sm-0 mr-2" (click)="logout()" *ngIf="getToken()!=='hhh'">LogOut</button> -->

</nav>