<div class="container">

<br/>

<h2>Shipping</h2>
<div class="row">
  <div class='col-6'>
    <form #F="ngForm" [formGroup]="newProductForm">
      <div class="form-group">
        <!-- <label for="">From</label> -->
        <input  formControlName="sourceAddress"  #sourceAddress [(ngModel)]="shipping.sourceAddress" type="text" class="form-control" placeholder="Source Adress" required>
        <div *ngIf="sourceAddressStatus; else falseBlock" style="color:red">
            *source required
           </div>
           <ng-template #falseBlock>
             <div class="alert alert-success">
               true
             </div>
         </ng-template>
      </div>
      <div class="form-group">

        <input formControlName="destinationAddress" #destinationAddress  [(ngModel)]="shipping.destinationAddress" type="text" placeholder="Destination Address" class="form-control"  required>
        <div *ngIf="destinationAddressStatus; else falseBlock" style="color:red">
            *destination required
           </div>
           <ng-template #falseBlock>
             <div class="alert alert-success">
               true
             </div>
         </ng-template>
        </div>
      <div class="form-group">
        
        <input formControlName="totalPrice"  #totalPrice  [(ngModel)]="TotalPrice" type="number" placeholder="Total Price" class="form-control"  required min="0" disabled>
        <!-- <div *ngIf="totalPriceStatus; else falseBlock" style="color:red">
            *phone_number required
           </div>
           <ng-template #falseBlock>
             <div class="alert alert-success">
               true
             </div>
         </ng-template> -->
      </div>
     
      <!--  (click)="placeOrder(F)" -->
      <button 
       
        class="btn btn-primary">Place Order</button>
    </form>
  </div>
  <div class='col-6'>  
    <app-shopping-cart-summary></app-shopping-cart-summary>
  </div>
</div>

</div>