


<div class="row">
<!-- <div class="row">
    <div class="col-sm-6 col-md-4 mb-2" *ngFor="let p of products">
        <div class="card " style="width: 18rem;">
            <img [src]="p.imageUrl"
             class="card-img-top" alt="..." (click)="p.isCollapsed =!p.isCollapsed"
            [attr.aria-expanded]="!p.isCollapsed" aria-controls="collapseExample">



<div class="row">
<div class="row">
    <div class="pb-4 views-row views-row-2 views-row-even col-lg-3 col-md-3 col-sm-6 col-xs-6 product-grid-row" *ngFor="let p of products">
        <div class="card" id="pro">
            <img [src]="p.imageUrl" class="card-img-top" (click)="p.isCollapsed =!p.isCollapsed"
                [attr.aria-expanded]="!p.isCollapsed" aria-controls="collapseExample">


            <div id="collapseExample" [ngbCollapse]="p.isCollapsed">
                <div class="card">
                    <div class="card-body">
                        <h5 class="grid-title">{{ p.title }}</h5>
                        <p class="card-text">{{p.description}}</p>
                        <h5 class="text-info field-content ">Price: {{p.price}} EGP</h5>
                        <h5>By :<a href="#">{{p.shop}}</a></h5>
                        <a href="#" class="btn btn-outline-success">Add to card</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<section class="ftco-section bg-light row">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ">
                <h2 class="mb-4">New products Arrival</h2>
                <p>feel free to choose your favorite product <i class="icon-smile-o" ></i></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 " *ngFor="let p of products" >
                <div class="product d-flex flex-column">
                    <a href="#" class="img-prod"><img class="img-fluid" [src]="p.imageUrl" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3">
                        <div class="d-flex">
                            <div class="cat">
                                <span><a routerLink="store/profile/{{p.user.id}}">{{p.user.shopName}}</a></span>
                            </div>
                            <div class="rating">
                                <p class="text-right mb-0">
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                </p>
                            </div>
                        </div>
                        <h3><a href="#">{{ p.title }}</a></h3>
                        <div class="pricing">
                            <p class="price"><span>{{p.description}}</span></p>
                        </div>
                        <div class="pricing">
                            <p class="price"><span>{{p.price}} EGP</span></p>
                        </div>
                        <p class="bottom-area d-flex px-3">
                            <a (click)="openLogin(content)" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #content  let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">LOG IN</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-login></app-login>
    </div>
  </ng-template>
