img{
    cursor: pointer;
    width: 100%;
    height: 18rem;
}
#pro{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}
#pro:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
