<div class="row">
    <div class="pb-4 views-row views-row-2 views-row-even col-lg-3 col-md-3 col-sm-6 col-xs-6 product-grid-row" *ngFor="let p of products">
        <div class="card" id="pro">
            <img [src]="p.imageUrl" class="card-img-top" (click)="p.isCollapsed =!p.isCollapsed"
                [attr.aria-expanded]="!p.isCollapsed" aria-controls="collapseExample">
            <div id="collapseExample" [ngbCollapse]="p.isCollapsed">
                <div class="card">
                    <div class="card-body">
                        <h5 class="grid-title">{{ p.title }}</h5>
                        <p class="card-text">{{p.description}}</p>
                        <h5 class="text-info field-content ">Price: {{p.price}} EGP</h5>
                        <h5>By :<a href="#">{{p.shop}}</a></h5>
                        <a href="#" class="btn btn-outline-success">Add to card</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>