
<div class="row">
    <div class="col-sm-6 col-md-4 mb-2" *ngFor="let p of products">
        <div class="card">
            <!-- <img [src]="imagePreview" class="card-img-top" *ngIf="imagePreview !== '' && imagePreview"> -->
            <div class="card-body">
                <h5 class="card-title">{{ p.title }}</h5>
                <!-- Currency PIPE -->
                <p class="card-text">{{p.price | currency:'USD':'symbol'}}</p>
                <p class="card-text">{{p.details}}</p>
            </div>
        </div>
    </div>
</div>

