<div class="container">
  
    <!-- <h2>My Orders</h2> -->
<table class='table'>
    <thead>
        <tr>
            <th>Order Date</th>
            <th>Total Price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of Orders">
            <td>{{order.arrivalTime|date}}</td>
            <td>{{order.totalPrice|currency}}</td>
            <!-- <td>{{product.details}}</td> -->
            <td>{{order.status}}</td>
            <button  class='btn btn-outline-danger mt-2' (click)="onDelete(order.id)">delete</button>
        </tr>
    </tbody>
</table>
</div>

